@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Libre Franklin", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
  position: relative;
}

@media (max-width: 375px) {
  .container img {
    max-width: 300px;
    margin: 2rem 1rem;
  }
  .container .logo {
    margin: 1rem;
  }
  .container .header {
    text-align: center;
  }
  .container .header h1 {
    font-size: 1.2rem;
    font-weight: 300;
    color: #969696;
  }
  .container .header h1 span {
    font-weight: 700;
    color: #151f29;
  }
  .container .header p {
    font-size: .6rem;
    margin: 1rem;
  }
  .container .signup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70vw;
    margin-top: .5rem;
  }
  .container .signup input {
    font-family: "Libre Franklin", sans-serif;
    color: rgba(79, 125, 243, 0.5);
    width: 100%;
    padding: .5rem;
    border-radius: 50px;
    border: 1px solid rgba(79, 125, 243, 0.5);
  }
  .container .signup button {
    width: 100%;
    padding: .5rem;
    border-radius: 50px;
    margin-top: .5rem;
    border: 1px solid #4f7df3;
    background-color: #4f7df3;
    color: #fff;
  }
  .container footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .container footer .social {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container footer .social .fa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid rgba(79, 125, 243, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 20px;
    margin: 0 .3rem;
    font-size: .6rem;
    color: #4f7df3;
  }
  .container footer p {
    font-size: .5rem;
    margin: 1rem;
    text-align: center;
    color: #969696;
  }
}
/*# sourceMappingURL=style.css.map */